.trusted-company img {
    height: 20vh;
    width: 100%;
}

.company-info>div {
    flex-basis: 50%;
}

.company-info a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #151A1A;
}

input[type=email] {
    background-color: #2f273e;
    border: none;

}

footer .submit-btn {
    position: absolute;
    margin-left: -90px;
    margin-top: 6px;
    background-color: black;
    color: white;

}

.horizontal-line {
    color: gray;
}